.App {
  text-align: center;
  color:white;
}

.Header {
  background-color: #282c34;
  height: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App{
  background-color:#282c34;
  height: calc(100%);
  
}


.Weather, .Forecast{
width:75%;
margin:auto;
display: flex;
flex-direction: column;
min-width:400px;
justify-content: center;

}

.weather-header, .forecast-header{
padding-bottom:20px;
}

.weather-container, .forecast-container{
  border:#f5f5f5 solid 1px;
  justify-content: center;
  width:auto;
  flex-direction: column;
  min-height:75px;
border-radius: 5px;
  margin:0;
}

.weather-wrapper, .forecast-wrapper{
  border: #f5f5f5 solid 1px;
  flex-wrap:wrap;
  justify-items: stretch;
  border-radius: 5px;
}

.flex{
  display:flex;
}

.full-height{
  height:100%
}

.feelsLike{
  height: 0;
  font-size:0.6rem;
  margin-top:10px;
  margin-bottom:-10px;
}

.place-name{
  min-height:75px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wind-speed{
  font-size:.75rem;
  margin-bottom:10px;
}

.wind-container{
  align-items: center;
justify-content: center;
  min-width:150px;
  grid-template-columns: 50px 50px 50px;
}

.full-width{
  width:100%
}

.grid-container{
  display:grid;
  justify-items: center;

}



.grid-2{
  display:grid;
  grid-template-columns: 50% 50%;

}

.weather-name{
margin-bottom:50px;
}

.sunrise{
  justify-content: space-evenly;
}

.flex-row{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
}

.center{
  align-content: center;
  align-items:center;
}

#dayInput{
  min-width:300px;
}

.vertical-prog{
  transform: rotate(-90deg);
  width:50px;
  height:15px;
  margin-right:-20px;
  margin-left:-10px;
}

.ninety{
  width:90%;
}

.flex-center{
  justify-content: center;
}

.half{
  width:50%;
}

